.wagtailmedia-tabs .messages {
    margin-bottom: 1em;
}

/* TODO: remove once https://github.com/wagtail/wagtail/issues/9260 is fixed */
.w-field--admin_audeo_chooser:hover .chooser__actions,
.w-field--admin_media_chooser:hover .chooser__actions,
.w-field--admin_video_chooser:hover .chooser__actions,
.w-field--admin_audio_chooser:focus-within .chooser__actions,
.w-field--admin_media_chooser:focus-within .chooser__actions,
.w-field--admin_video_chooser:focus-within .chooser__actions {
    opacity: 1;
}

.comparison--media {
    display: inline-block;
    max-width: 49%;
}

.comparison--media audio,
.comparison--media video {
    max-width: 100%;
}

.comparison--media.addition,
.comparison--media.deletion {
    padding: 5px;
    margin-inline-end: 5px;
    border-style: solid;
    border-width: 1px;
}

.comparison--media.addition {
    background-color: #ebffeb;
    border-color: #f8cbcb;
}

.comparison--media.deletion {
    background-color: #ffebeb;
    border-color: #f8cbcb;
}
