version: ~> 1.0
os: linux
dist: bionic
language: python
cache:
  pip: true
  directories:
    - .tox

jobs:
  include:
    - env: TOXENV=py38-dj30-wag210
      python: 3.8
      install:
        - pip install tox==3.9.0 flake8 isort
      script:
        - flake8 wagtailmedia
        - isort --check-only --diff wagtailmedia
        - tox
    - env: TOXENV=py38-dj22-wag10
      python: 3.8
    - env: TOXENV=py38-dj30-wag29
      python: 3.8
    - env: TOXENV=py36-dj22-wag28
      python: 3.8
      # Current Wagtail LTS, with latest compatible Python.
      # See https://docs.wagtail.io/en/v2.10/releases/upgrading.html
    - env: TOXENV=py38-dj22-wag27
      python: 3.8

install:
  - pip install tox==3.9.0

script:
  - tox

after_success:
  - bash <(curl -s https://codecov.io/bash)
