global-exclude *.py[cod] __pycache__ .DS_Store
prune __pycache__
prune tests
prune venv .venv
prune .tox
graft src/wagtailmedia
include LICENSE *.md
include pyproject.toml .editorconfig
exclude .pre-commit-config.yaml .coveragerc codecov.yml tox.ini
exclude manage.py runtests.py db.sqlite3 Makefile
