{% load i18n %}
{% trans "Choose a media file" as  choose_str %}
{% include "wagtailadmin/shared/header.html" with title=choose_str tabbed=1 merged=1 icon="media" %}

{% if uploadform %}
    <ul class="tab-nav merged">
        <li class="{% if not uploadform.errors %}active{% endif %}"><a href="#search" >{% trans "Search" %}</a></li>
        <li class="{% if uploadform.errors and media_type == 'audio' %}active{% endif %}"><a href="#upload-audio">{% trans "Upload Audio" %}</a></li>
        <li class="{% if uploadform.errors and media_type == 'video' %}active{% endif %}"><a href="#upload-video">{% trans "Upload Video" %}</a></li>
    </ul>
{% endif %}

<div class="tab-content">
    <section id="search" class="{% if not uploadform.errors %}active {% endif %}nice-padding">
        <form class="media-search search-bar" action="{% url 'wagtailmedia:chooser' %}" method="GET" novalidate>
            <ul class="fields">
                {% for field in searchform %}
                    {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                {% endfor %}
                {% if collections %}
                    {% include "wagtailadmin/shared/collection_chooser.html" %}
                {% endif %}
            </ul>
        </form>
        <div id="search-results" class="listing media">
            {% include "wagtailmedia/chooser/results.html" %}
        </div>
    </section>
    {% if uploadform %}
        <section id="upload-audio" class="{% if uploadform.errors and media_type == 'audio' %}active{% endif %} nice-padding">
            <form class="media-upload" action="{% url 'wagtailmedia:chooser_upload' 'audio' %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <ul class="fields">
                    {% for field in uploadform %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                        {% endif %}
                    {% endfor %}
                    <li>
                        <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Uploading…' %}"><span class="icon icon-spinner"></span><em>{% trans 'Upload' %}</em></button>
                    </li>
                </ul>
            </form>
        </section>
        <section id="upload-video" class="{% if uploadform.errors and media_type == 'video' %}active{% endif %} nice-padding">
            <form class="media-upload" action="{% url 'wagtailmedia:chooser_upload' 'video' %}" method="POST" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <ul class="fields">
                    {% for field in uploadform %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            {% include "wagtailadmin/shared/field_as_li.html" with field=field %}
                        {% endif %}
                    {% endfor %}
                    <li>
                        <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Uploading…' %}"><span class="icon icon-spinner"></span><em>{% trans 'Upload' %}</em></button>
                    </li>
                </ul>
            </form>
        </section>
    {% endif %}
</div>
