{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags %}
{% load i18n %}
{% block titletag %}Media{% endblock %}
{% block extra_js %}
    {{ block.super }}
    <script>
        window.headerSearch = {
            url: "{% url 'wagtailmedia:index' %}",
            termInput: "#id_q",
            targetOutput: "#media-results"
        };

        $(function() {
            $('#collection_chooser_collection_id').change(function() {
                this.form.submit();
            })
        });
    </script>
{% endblock %}

{% block content %}
    {% trans "Media" as media_str %}
    {% if user_can_add %}
        {% fragment as media_actions %}
            {% block add_actions %}
            <div class="dropdown dropdown-button match-width">
                <a href="{% url 'wagtailmedia:add' 'audio' %}" class="button bicolor button--icon">{% icon name="plus" wrapped=1 %}{% trans "Add audio" %}</a>
                <div class="dropdown-toggle">{% icon name="arrow-down" %}</div>
                <ul>
                    <li><a class="button bicolor button--icon" href="{% url 'wagtailmedia:add' 'video' %}">{% icon name="plus" wrapped=1 %}{% trans "Add video" %}</a></li>
                </ul>
            </div>
            {% endblock %}
        {% endfragment %}

        {% include "wagtailadmin/shared/header.html" with title=media_str icon="media" search_url="wagtailmedia:index" extra_actions=media_actions %}
    {% else %}
        {% include "wagtailadmin/shared/header.html" with title=media_str icon="media" search_url="wagtailmedia:index" %}
    {% endif %}

    <div class="nice-padding">
        {% if collections %}
            <form class="image-search search-bar" action="{% url 'wagtailmedia:index' %}" method="GET" novalidate>
                <ul class="fields">
                    <li>{% include "wagtailadmin/shared/collection_chooser.html" %}</li>
                </ul>
            </form>
        {% endif %}

        <div id="media-results" class="media">
            {% include "wagtailmedia/media/results.html" %}
        </div>
    </div>
{% endblock %}
