name: Ruff

on:
  push:
    branches:
      - main
      - 'stable/**'
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  ruff:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false

    - run: python -Im pip install --user ruff==0.12.9

    - name: Run ruff
      working-directory: ./src
      run: ruff check --output-format=github wagtailmedia
