name: CI

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: read # to fetch code (actions/checkout)

jobs:
  test:
    name: Python ${{ matrix.python-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.8", "3.9", "3.10", "3.11"]
        experimental: [false]
        include:
          - python-version: "3.x"
            toxenv: "wagtailmain"
            experimental: true

    services:
      postgres:
        image: postgres:12.7
        env:
          POSTGRES_PASSWORD: postgres
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel tox

      - name: Run tox targets for Python ${{ matrix.python-version }}
        if: ${{ matrix.toxenv != 'wagtailmain' }}
        continue-on-error: ${{ matrix.experimental }}
        run: python -m tox run -f py$(echo ${{ matrix.python-version }} | tr -d .)
        env:
          DATABASE_ENGINE: django.db.backends.postgresql
          DATABASE_HOST: localhost
          DATABASE_USER: postgres
          DATABASE_PASS: postgres

      - name: Run wagtailmain tox targets
        if: ${{ matrix.toxenv == 'wagtailmain' }}
        continue-on-error: ${{ matrix.experimental }}
        run: python -m tox run -f ${{ matrix.toxenv }}

      - name: Upload coverage reports to Codecov
        run: |
          pip install codecov
          codecov
